/* Container styling */
.editor-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Editor styling */
  .react-quill {
    
    border-radius: 8px;
    margin-top: 0px;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
  }
  
  /* Button styling */
  .commentbtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 150px;
  }
  
  .commentbtn:hover {
    background-color: #0056b3;
  }
  
  /* Comments list styling */
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  ul li {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
  }
  